body {
    align-items: center;
    background-color: #3b3939;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;    
}

.cartas {
    background-image: url('../images/verso.png');
    height: 30vh;
    width: 15vw;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    align-items: center;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;   
}

header img{
    height: 50px;
}

main {
    background-color:  #3b3938;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(auto);
    height: calc(100vh - 50px);
    width: 80%;
    justify-items:center;
    align-items: center; 
}

